<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuration</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navegateHome()">
        <ion-icon src="/assets/icon/arrow-back-outline.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuration</ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="navegateHome()">
          <ion-icon src="/assets/icon/arrow-back-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <ion-list>
      <ion-item>
        <ion-toggle (ionChange)="toggleChange($event)" [(ngModel)]="toggleValue"
          >Eliminar citas al inicio</ion-toggle
        >
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
