<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Citas </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/configuration">
        <ion-icon src="/assets/icon/settings-outline.svg"></ion-icon>
        <!-- <ion-icon name="settings-outline"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Citas</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/configuration">
          <ion-icon src="/assets/icon/settings-outline.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card color="light" *ngIf="showCitas && cita">
      <ion-card-header>
        <ion-card-title>{{cita.cita}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{cita.autor}} </ion-card-content>
    </ion-card>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/gestion-citas">
      <ion-icon src="/assets/icon/add-outline.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
